<% layout("/layouts/boilerplate.ejs") -%>
<div class="row">
  <div class="col-8 offset-2">
    <br>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <level for="title" class="form-label">Title*</level>
        <input name="listing[title]" value="<%= listing.title %>" type="text"  class="form-control" required/>
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title is required.</div>
      </div>
      <div class="mb-3">
        <level for="Description" class="form-label">Description</level>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a description.</div>
      </div>
      <div class="mb-3">
        <p>Original Listing Image</p>
        <img src="<%=originalImageUrl%>" height="200" width="300">
      </div>
      <div class="mb-3">
        <level for="image" class="form-label">Upload New Image</level>
        <input name="listing[image]" type="file" class="form-control"/>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <level for="price" class="form-label">Price</level>
          <input name="listing[price]" value="<%= listing.price %>" type="number"  class="form-control" required/>
          <div class="invalid-feedback">Please enter a valid price.</div>
        </div>
        <div class="mb-3 col-md-8">
          <level for="country" class="form-label">Country*</level>
          <input name="listing[country]" value="<%= listing.country %>"type="text" class="form-control" required/>
          <div class="invalid-feedback">Country name should be valid.</div>
        </div>
      </div>
      <div class="mb-3">
        <level for="location" class="form-label">Location*</level>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
        <div class="invalid-feedback">Location should be valid.</div>
      </div>
      <button class="btn  btn-dark add-btn">Edit the List</button>
    </form>
  </div>
  
</div>
